<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <div class="alert alert-dager" role="aleat">
      <a href="#" class="close" data-dismiss="alert">x</a>
      <%= msg %></span>
  </div>
<% end %>
</div>
<% end %>
